.errorMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 100px;
  h1 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 288px;
    font-weight: 700;
    line-height: 143%;
    color: #ff6060;
    margin-top: 50px;
  }

  h2 {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 36px;
    font-weight: 500;
    line-height: 143%;
    color: #ff6060;
  }

  .return {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 143%;
    color: black;
    margin: 50px 0px 100px 0px;

    a:visited {
      color: black;
    }
  }
}
