.ratingWrap {
  display: flex;
  position: relative;
  img {
    height: 36px;
    width: 36px;
  }
  .ratingBase {
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }

  .rating {
    position: absolute;
    display: flex;
    flex-direction: row;
    column-gap: 20px;
  }
}
