.ratingWrap {
  display: flex;
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 20px;
  img {
    height: 36px;
    width: 36px;
  }
}

@media only screen and (max-width: 600px) {
  .ratingWrap {
    column-gap: 10px;
    img {
      width: 18px;
      height: 18px;
    }
  }
}
