.columnWrap {
  width: 1240px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  .columnLeft {
    margin-top: 40px;
    .title {
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
      font-size: 36px;
      font-weight: 500;
      line-height: 143%;
      color: #ff6060;
    }

    .desc {
      font-family: "Montserrat", Arial, Helvetica, sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 143%;
    }
  }

  .columnRight {
    margin: 40px 0px 40px 0px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    row-gap: 40px;
  }
}
