.collapse {
  margin: auto;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  width: 100%;

  .collapseBar {
    color: white;
    background-color: #ff6060;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px 10px 15px;
    border-radius: 5px;

    .collapseTitle {
      font-weight: 700;
      font-size: 24px;
    }
    img {
      height: 14px;
      width: 24px;

      &:hover {
        cursor: pointer;
      }
    }
  }

  .collapseMessage {
    background-color: rgba(0, 0, 0, 0.01);
    padding: 15px;
  }
}
