.carousel {
  display: flex;
  position: relative;

  .carouselPic {
    border-radius: 25px;
    overflow: hidden;

    img {
      width: 1240px;
      height: 415px;
      object-fit: cover;
    }
  }

  .arrowLeft {
    width: 46px;
    height: 80px;
    position: absolute;
    left: 40px;
    top: 167px;
    cursor: pointer;
  }

  .arrowRight {
    width: 46px;
    height: 80px;
    position: absolute;
    right: 40px;
    top: 167px;
    cursor: pointer;
  }
}
