.carousel {
  display: flex;
  position: relative;

  .carouselPic {
    border-radius: 25px;
    overflow: hidden;
    position: relative;
    z-index: 10;

    img {
      width: 1240px;
      height: 415px;
      object-fit: cover;
    }

    .carouselCounter {
      position: absolute;
      bottom: 10px;
      right: 10px;
      color: white;
      background: rgba(0, 0, 0, 0.5);
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 14px;
      z-index: 12;
    }
  }

  .arrowLeft,
  .arrowRight {
    z-index: 12;
    width: 46px;
    height: 80px;
    position: absolute;
    top: 167px;
    cursor: pointer;
  }

  .arrowLeft {
    left: 40px;
  }

  .arrowRight {
    right: 40px;
  }
}
