footer {
  background-color: black;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 20px;
  padding: 40px 0px 20px 0px;
  margin-top: 30px;
  height: 150px;

  p {
    font-family: "Montserrat", Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 24px;
    margin-top: 20px;
  }

  img {
    width: 122px;
    height: 40px;
  }
}
